<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Student Portal{% endblock %}</title>
</head>

\
<div id="container" style="width:1200px">
<div id="header" style="background-color:#FFA500","width:700px">
<h1 style="margin-bottom:0;">Student Portal</h1></div>
<div id="menu" style="background-color:#FFD700;height:580px;width:200px;float:left;">
<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Personal_Information/">Personal Information</a></li>
            <li><a href="/Course_History/">Course History </a></li>
            <li><a href="/Add_Courses/">Add Courses </a></li>
            <li><a href="/Drop_Courses/">Drop Courses </a></li>
            <li><a href="/Grades/">Grades </a></li>
            <li><a href="/Fee/">Fee </a></li>
            <li><a href="/Important_Links/">Important links </a></li>
    <form method="post" action="/logout">
<p><button type="submit" name="logout">Logout</button></p>
</form>
        </ul></div>


<div id="content" style="background-color:#EEEEEE;height:580px;width:1000px;float:left;">
<div id="sidebar">
        <h3>&nbsp;&nbsp;<b>Course to be dropped</b></h3>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<ul>
<form action="/Drop_Courses/" method="post">
   <p> {{count}} course/courses taken</p>
{% for choice in form.my_choice_field.field.choices %}
  <li>
    <input type="radio" name="my_choice_field" value="{{choice.0}}"
      {% ifequal form.my_choice_field.data choice.0 %}
         checked="checked"
      {% endifequal %}/>
    <label for="">{{choice.1}}</label>
  </li>
{% endfor %}
<input type="submit" value="Drop Course" />
</form>
</ul>

<h3>&nbsp;&nbsp;<b>Courses currently enrolled</b></h3>
   <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{count}} course/courses taken</b></p>

<ul>
    {% for cur in cur_obj%}
    <li>
        <p> Course Name     :   {{ cur.batch.courseId.coursename }}<br>
            Course Id       :   {{ cur.batch.courseId.courseid }}<br>
            Quarter         :   {{ cur.batch.quarter }} <br>
            Year            :   {{ cur.batch.year }} <br>
            Timings(Days,start time,duration)        :   {{ cur.batch.timings.day }} {{ cur.batch.timings.start_time }} {{ cur.batch.timings.duration }}<br>
            Lecture Hall (Room Number,Building)    :   {{ cur.batch.lectureHall.roomNumber}} {{cur.batch.lectureHall.building }}<br>
            Lecture Hall Building:          {{cur.batch.lectureHall.building }}<br>
            Professor       :   {{ cur.batch.prof.first_name}} {{cur.batch.prof.last_name }}<br>

            <br>
        </p>
    </li>
{% endfor %}

</ul>
    </div>
</div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © Monica Vaduguru</div>


</div>
</body>
</html>







