<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Student Portal{% endblock %}</title>
</head>


<div id="header" style="background-color:#FFA500","width:700px">
<h1 style="margin-bottom:0;">Student Portal</h1></div>
<div id="menu" style="background-color:#FFD700;height:580px;width:200px;float:left;">
<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Personal_Information/">Personal Information</a></li>
            <li><a href="/Course_History/">Course History </a></li>
            <li><a href="/Add_Courses/">Add Courses </a></li>
            <li><a href="/Drop_Courses/">Drop Courses </a></li>
            <li><a href="/Grades/">Grades </a></li>
            <li><a href="/Fee/">Fee </a></li>
            <li><a href="/Important_Links/">Important links </a></li>
    <form method="post" action="/logout">
<p><button type="submit" name="logout">Logout</button></p>
</form>
        </ul></div>
<div id="content" style="background-color:#EEEEEE;height:580px;width:900px;float:left;">

<div id="sidebar">

        <p>  &nbsp;&nbsp;&nbsp;   <b>Firstname</b> : {{firstname}} </p>
        <p>  &nbsp;&nbsp;&nbsp;  <b>Lastname </b>: {{lastname}} </p>
        <p>  &nbsp;&nbsp;&nbsp;   <b>Date of Birth </b>: {{dob}} </p>
        <p>  &nbsp;&nbsp;&nbsp;   <b>House Number</b> : {{hno}} </p>
        <p>  &nbsp;&nbsp;&nbsp; <b> Street</b>: {{street}} </p>
        <p>  &nbsp;&nbsp;&nbsp;  <b>City </b>: {{city}} </p>
        <p>   &nbsp;&nbsp;&nbsp;  <b>Zipcode</b>: {{zip}} </p>
        <p>   &nbsp;&nbsp;&nbsp;  <b>Major</b>: {{major}} </p>
        <p>   &nbsp;&nbsp;&nbsp; <b> Program</b>: {{program}} </p>
        <p>   &nbsp;&nbsp;&nbsp;  <b>Advisor</b>: {{advisor}} </p>


</div>
</div>

<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
Copyright © Monica Vaduguru</div>


</div>
</body>
</html>



